.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  position: relative;

  .root_main {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
    transition: opacity 0.5s ease-in;
  }
}

.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.grow {
  flex-grow: 1;
}

.root-section {
  width: 100%;
  height: 100%;
}
/* Margin bottom */

.mr-l-40 {
  margin-left: 40px;
}

.mr-r-33 {
  margin-right: 33px;
}

.mr-r-35 {
  margin-right: 35px;
}

.mr-r-40 {
  margin-right: 40px;
}

.mr-r-45 {
  margin-right: 45px;
}

.mr-r-53 {
  margin-right: 53px;
}

.mr-b-18 {
  margin-bottom: 18px;
}

.mr-b-20 {
  margin-bottom: 20px;
}

.mr-b-22 {
  margin-bottom: 22px;
}

.mr-b-30 {
  margin-bottom: 30px;
}

.mr-b-35 {
  margin-bottom: 35px;
}

.mr-b-45 {
  margin-bottom: 45px;
}

.mr-b-60 {
  margin-bottom: 60px;
}

.mr-t-10 {
  margin-top: 10px;
}

.mr-t-20 {
  margin-top: 20px;
}
.mr-t-25 {
  margin-top: 25px;
}

.mr-t-50 {
  margin-top: 50px;
}

.mr-t-90 {
  margin-top: 90px;
}

.p-15 {
  padding: 15px;
}
/* Padding bottom */
.pd-b-30 {
  padding-bottom: 30px;
}

/* gap */

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}
.gap-15 {
  gap: 15px;
}

.gap-18 {
  gap: 18px;
}
.gap-20 {
  gap: 20px;
}
.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.gap-35 {
  gap: 35px;
}

.gap-40 {
  gap: 40px;
}

.gap-60 {
  gap: 60px;
}

.gap-80 {
  gap: 80px;
}

.gap-100 {
  gap: 100px;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.bg-color-1 {
  background-color: #fcefe9;
}

// @media only screen and (max-width: 1199px) {
//   .container {
//     width: 100% !important;
//   }
// }

// @media only screen and (min-width: 1200px) {
//   .container {
//     width: 1140px;
//     max-width: 100%;
//     margin: 0 auto;
//   }
// }
