.dashbord {
  height: 500px;
  background-color: rgb(29, 8, 47);
}

.dashbord-main {
  flex-grow: 1;
  width: 100%;
}

.my-class {
  color: #e11010;
  &-text {
    font-size: 25px;
  }

  &-pera {
    color: bisque;
  }
}


