@import "/font/Pooines/stylesheet.css";

/******* ================================Reset============================== *******/
:root {
  --primary_1: #f9f7ff;
  --heding_color: #381589;
  --btn_background: #381589;

  --card_month: #7848f4;
  --card_date: #131315;
  --card_heading: #2a3038;
  --card_sub_heading: #8d95a0;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

main {
  /* margin-top: 81px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary_1);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input,
button {
  border: none;
}

input:focus {
  outline: none;
}

textarea {
  border: none;
}
textarea:focus {
  outline: none;
}

/* figure img {
  width: 100%;
  height: 100%;
} */

header Image {
  cursor: pointer;
}

footer a {
  color: white !important;
}

/* 
/ width / */
::-webkit-scrollbar {
  width: 15px;
}

/* / Track / */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #381589;
}

/* / Handle / */
::-webkit-scrollbar-thumb {
  background: #381589;
}

/* / Handle on hover / */
::-webkit-scrollbar-thumb:hover {
  background: #7a41ff;
}

html {
  scroll-behavior: smooth;
}
